<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-2"><h4>レンタル品一覧</h4></div>
  <div class="col-xs-5"></div>
  <div class="col-xs-2 add_item">
    <%= link_to "レンタル品を追加する","/admin/items/new",class: "add_item_link"%>
  </div>
  <div class="col-xs-1"></div>
</div>
<br>
<div class="row">
  <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">レンタル品ID</th>
            <th scope="col">レンタル品名</th>
            <th scope="col">ジャンル</th>
            <th scope="col">1泊2日(税抜)</th>
            <th scope="col">追加1日(税抜)</th>
          </tr>
        </thead>

        <tbody>
          <% @items.each do |item| %>
            <tr>
              <th scope="row"><%= item.id %></th>
              <td><%= link_to item.name,"/admin/items/#{item.id}"%></td>
              <td><%= item.genre.name %></td>
              <td><%= item.price %></td>
              <td><%= item.add_price %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <div class="col-xs-1"></div>
</div>