<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-2"><h4>レンタル品詳細</h4></div>
  <div class="col-xs-9"></div>
</div>
<br>
<br>
<div class="row">
     <div class="col-xs-1"></div>
     <div class="col-xs-3">
     	<%= attachment_image_tag @item, :image, fallback: asset_path("no_image.jpg"), size: '300x225',class: "item_image" %>
     <br>
     <br>
       <div class= "manual_video">
        <% if @item.manual != false %>
          <p><%= link_to "説明書", @item.manual_url, target: :_blank, rel: "noopener noreferrer",class: "manual", id: "manual_link" %></p>
        <% end %>

        <% if @item.video != false %>
           <p><%= link_to "動画", @item.video_url, target: :_blank, rel: "noopener noreferrer" ,class: "video", id: "video_link" %></p>
        <% end %>
       </div>
     </div>


       <div class="col-xs-7">
          <table class="table table-borderless">

            <tr>
              <th class="col-xs-3">レンタル品名</th>
              <td><%= @item.name%></td>
            </tr>

            <tr>
              <th>レンタル品説明</th>
              <td><%= safe_join(@item.introduction.split("\n"),tag(:br))%></td>
            </tr>

            <tr>
              <th>ジャンル</th>
              <td><%= @item.genre.name%></td>
            </tr>

            <tr>
              <th>税込価格</th>
              <td><%= (@item.price.to_i*1.10).floor%> 円</td>
            </tr>

            <tr>
              <th>1日追加料金(税込)</th>
              <td><%= (@item.add_price.to_i*1.10).floor %> 円</td>
            </tr>

            <tr>
              <th>消費電力</th>
              <td>
              	<% if @item.power_consumption.to_i == 0.to_i %>
              	  -
              	<% else %>
              	  <%= @item.power_consumption.to_i %> W
                <% end %>
              </td>
            </tr>

            <tr>
              <th>ガス消費量</th>
              <td>
                <% if @item.fuel_economy.to_f == 0.to_f %>
                  -
                <% else %>
                  <%= @item.fuel_economy %> kg/h
                <% end %>
              </td>
              </tr>
          </table>
       </div>


     <div class="col-xs-1"></div>
  </div>
  <div class="col-xs-9"></div>
   <%= button_to "編集する",  "/admin/items/#{@item.id}/edit", method: :get, id: "item_edit"%>