<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-3"><h4>持ち込み機材登録/一覧</h4></div>
  <div class="col-xs-8"></div>
</div>

<br>
<div class="row">
  <div class="col-xs-1"></div>
    <div class="col-xs-10">
       <%= form_for(@bring_in_equipment, url: public_bring_in_equipments_path) do |f| %>
       <%= render 'groups/shared/error_messages2', model: f.object %>
       <table class="table">
         <tr>
            <th class="col-xs-3">機材名称</th>
            <td><%= f.text_field :name , :placeholder =>"例: 電気ケトル", id: "bring_in_equipment_name"%></td>
         </tr>
         <tr>
            <th>消費電力</th>
            <td>
              <div class = "power_consumption_selector">
                <%= f.text_field :power_consumption , :placeholder =>"例: 1200",id: "power_consumption" %> W
              </div>
              <div class = "power_consumption_selector">
              <%= f.check_box :power_consumption, {class: "check_box"}, 0, false %> なし (0 W)
              </div>
            </td>
         </tr>
         <tr>
            <th>個数</th>
            <td>
              <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10], {include_blank: '-- 選択してください --'} ,id: 'bring_in_equipment_amount'%>
            </td>
          </tr>
       </table>
       <div class="group_submit2 bring_in_button">
        <%= f.hidden_field :group_id, :value => current_group.id %>
         <%= f.submit '持ち込み機材登録',class: "group_submit_a" ,id: 'submit_bring_in_equipment'%>
       </div>
       <% end %>
    </div>
  <div class="col-xs-1"></div>
</div>

<div class="row">
  <div class="col-xs-1"></div>
    <div class="col-xs-9">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">持ち込み機材</th>
            <th scope="col">1台あたり消費電力 (W)</th>
            <th scope="col">個数</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @bring_in_equipments.each do |bring_in_equipment| %>
            <tr>
              <td><%= bring_in_equipment.name %></td>
              <td>
              	<% if bring_in_equipment.power_consumption.to_i == 0.to_i %>
              	  -
              	<% else %>
              	  <%= bring_in_equipment.power_consumption.to_i %> W
                <% end %>
              </td>
              <td><%= bring_in_equipment.amount%></td>
              <td>
                  <div style = "display:inline-flex">
                    <%= button_to '編集する', edit_public_bring_in_equipment_path(bring_in_equipment.id),method: :get, class: 'fbtn' %>
                  </div>

              </td>
              <td><%= button_to '削除する', public_bring_in_equipment_path(bring_in_equipment.id), method: :delete, data: {confirm: '削除しますか？'}, class: 'fbtn' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <div class="col-xs-1"></div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="d-flex text-center">
	  <div style="display:inline-flex">
	    <%= link_to 'レンタル品一覧', "/public/items",class: "sink_button2" %>
       </div>
    </div>
  </div>
</div>
