<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-2"><h4>注文情報確認</h4></div>
  <div class="col-xs-8"></div>
</div>
<br>
<%= form_with model: @request, url: public_request_path(@request.id), method: :patch,local: true do |f| %>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-7">
  <h5>出店情報</h5>
      <table class="table table-brequested">
        <tr>
          <th>団体名</th>
          <td><%= @request.group.group_name %></td>
        </tr>
        <tr>
          <th>販売品目</th>
          <td><%= @request.item_for_sale %></td>
        </tr>
        <tr>
          <th>出店日</th>
          <td><%= @request.date %></td>
        </tr>
        <tr>
          <th>パンフレット掲載用画像</th>
          <td><%= attachment_image_tag @request, :image, fallback: asset_path("no_image.jpg"), size: '320x240' ,class: "ad_image"%></td>
        </tr>
      </table>
  </div>
</div>

<% if @bring_in_equipments.present? %>
<div class="row">
  <div class="col-xs-1"></div>
    <div class="col-xs-4">
    <h5>◆ 持ち込み機材</h5>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">持ち込み機材</th>
            <th scope="col">1台あたり消費電力 (W)</th>
            <th scope="col">個数</th>
          </tr>
        </thead>
        <tbody>
          <% @bring_in_equipments.each do |bring_in_equipment| %>
            <tr>
              <td><%= bring_in_equipment.name %></td>
              <td>
                <% if bring_in_equipment.power_consumption.to_i == 0.to_i %>
                  -
                <% else %>
                  <%= bring_in_equipment.power_consumption.to_i %> W
                <% end %>
              </td>
              <td><%= bring_in_equipment.amount%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <div class="col-xs-1"></div>
</div>
<% end %>


<div class="row">
  <div class="col-xs-1"></div>
    <div class="col-xs-7">
      <h5>◆ レンタル品申請内容</h5>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">レンタル品名</th>
            <th scope="col">1泊2日料金(税込)</th>
            <th scope="col">1日追加料金(税込)</th>
            <th scope="col">数量</th>
            <th scope="col">小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td><%= cart_item.item.name %></td>
              <td>¥<%= (cart_item.item.price.to_i).floor %></td>
              <td>
                <% @request = Request.find_by(group_id: current_group.id) %>
                <% if @request.date == "10/23(土)"||@request.date == "10/24(日)" %>
                  <% cart_item.item.add_price = 0 %>
                <% end%>
                ¥<%= (cart_item.item.add_price.to_i).floor %>
              </td>
              <td><%= cart_item.item_amount %></td>
              <td>¥<%= ((cart_item.item.price.to_i + cart_item.item.add_price.to_i).floor)*cart_item.item_amount %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>

<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-5">
  <h5>◆ ガス申請内容</h5>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ガス種類</th>
            <th scope="col">価格(税込)</th>
            <th scope="col">数量</th>
            <th scope="col">小計</th>
          </tr>
        </thead>
        <tbody>
          <% @gas_requests.each do |gas_request| %>
            <tr>
              <td><%= gas_request.gase.name %></td>
              <td>¥<%= (gas_request.gase.price).floor %></td>
              <td><%= gas_request.gas_amount %></td>
              <td>¥<%= (gas_request.gase.price * gas_request.gas_amount).floor %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-3">
     <table class="table table-bordered">
        <tr>
          <th>合計金額</th>
          <td>¥<%= @total_payment %></td>
        </tr>
     </table>
  </div>
  <div class="col-xs-1"></div>
</div>

<div class="row">
  <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <br>
        <%= f.hidden_field :group_id, :value => current_group.id %>
        <%= f.hidden_field :total_payment, :value => @total_payment %>
        <div class="text-center group_submit2">
          <%= f.submit '申請内容を確定する',class: "group_submit_a", id: "fix_request" %>
        </div>
    </div>
  <div class="col-xs-1"></div>
</div>

<% end %>