<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-2"><h4>申請内容</h4></div>
  <div class="col-xs-8">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-7 requests">
  <h5>◆ 出店情報</h5>
      <table class="table table-noborder">
        <tr>
          <th>団体名</th>
          <td><%= @request.group.group_name %></td>
        </tr>
        <tr>
          <th>販売品目</th>
          <td><%= @request.item_for_sale %></td>
        </tr>
        <tr>
          <th>出店日</th>
          <td><%= @request.date %></td>
        </tr>
        <tr>
          <th>パンフレット掲載用画像</th>
          <td><%= attachment_image_tag @request, :image, fallback: asset_path("no_image.jpg"), size: '320x240' ,class: "ad_image"%></td>
        </tr>
      </table>
  </div>
</div>


<div class="row">
  <div class="col-xs-1"></div>
    <div class="col-xs-7">
      <h5>◆ レンタル品申請内容</h5>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">レンタル品名</th>
            <th scope="col">1泊2日料金</th>
            <th scope="col">1日追加料金</th>
            <th scope="col">数量</th>
            <th scope="col">小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order_items.each do |order_item| %>
            <tr>
              <td><%= order_item.item.name %></td>
              <td>¥<%= (order_item.item.price.to_i*1.10).floor %></td>
              <td>
                <% if @request.date == "10/23(土)"||@request.date == "10/24(日)"%>
                <%= "ー" %>
                <% else %>
                ¥<%= (order_item.item.add_price.to_i*1.10).floor %>
                <% end %>
              </td>
              <td><%= order_item.amount %></td>
              <td>¥<%= ((order_item.price.to_i*1.10).floor)*order_item.amount %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>


<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-5">
  <h5>◆ ガス申請内容</h5>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ガス種類</th>
            <th scope="col">数量</th>
            <th scope="col">価格</th>
          </tr>
        </thead>
        <tbody>
          <% @order_gases.each do |order_gase| %>
            <tr>
              <td><%= order_gase.gase.name %></td>
              <td><%= order_gase.amount %></td>
              <td>¥<%= ((order_gase.price * order_gase.amount)*1.10).floor %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
  </div>

<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-3">
     <table class="table table-bordered">
        <tr>
          <th>合計金額</th>
          <td>¥<%= @request.total_payment %></td>
        </tr>
     </table>
  </div>

  <div class="col-xs-1"></div>
</div>


<div class="row">
  <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <br>

        <div class="text-center">
        <%= link_to "申請内容を変更する",edit_public_request_path %>
        </div>
    </div>
  <div class="col-xs-1"></div>
</div>
