<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-3">
    <p id="notice"><%= notice %></p>
    <h4>レンタルかご</h4>
  </div>
  <div class="col-xs-4"></div>
  <div class="col-xs-1">
        <p><%= button_to 'カートを空にする', public_cart_items1_delete_all_path, method: :delete, data: {confirm: 'カートを空にして本当によろしいですか？'}, class: 'fbtn' %></p>
  </div>
  <div class="col-xs-2"></div>
</div>

<div class="row">
  <div class="col-xs-1"></div>
    <div class="col-xs-9">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">レンタル品名</th>
            <th scope="col">数量</th>
            <th scope="col">消費電力 (W)</th>
            <th scope="col">1泊2日料金(税込)</th>
            <th scope="col">1日追加料金(税込)</th>
            <th scope="col">小計</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td><%= cart_item.item.name %></td>
              <td class = "item_amount">
                <%= form_for(cart_item, url: public_cart_item_path(cart_item.id)) do |f| %>
                  <%= f.text_field :item_amount, :class => 'item_amount_field' %>
                  <%= f.submit "更新" %>
                <% end %>
              </td>
              <td>
                <% if cart_item.item.power_consumption.to_i == 0 %>
                -
                <% else %>
                <%= cart_item.item.power_consumption %>
                <% end %>
              </td>
              <td>¥ <%= (cart_item.item.price.to_i*1.10).floor %></td>
              <td>
                  <% @request = Request.find_by(group_id: current_group.id) %>

                  <% if @request.date == "10/23(土)"||@request.date == "10/24(日)" %>
                    <% cart_item.item.add_price = 0 %>
                  <% end%>
                ¥ <%= (cart_item.item.add_price.to_i*1.10).floor %>
              </td>
              <td>¥ <%= ((cart_item.item.price.to_i*1.10+cart_item.item.add_price.to_i*1.10).floor)*cart_item.item_amount %></td>
              <td><%= button_to '削除する', public_cart_item_path(cart_item.id), method: :delete, data: {confirm: 'このレンタル品をカートから削除しますか？'}, class: 'fbtn' %></td>
            </tr>
          <% end %>
          </tbody>
      </table>
    </div>
  </div>

    <div class="row parent">
      <div class="col-xs-1"></div>
      <div class="col-xs-6">
        <div class="container_cart_item_editlink">
        <%= link_to "ご自身で用意された機材を使用する際はこちらから登録をお願いします。","/public/bring_in_equipments",class: "cart_item_editlink"%>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">持ち込み機材名称</th>
              <th scope="col">数量</th>
              <th scope="col">消費電力 (W)</th>
            </tr>
          </thead>
          <tbody>
            <thead>
                <% @bring_in_equipments.each do |bring_in_equipment| %>
                  <tr>
                    <td><%= bring_in_equipment.name %></td>
                    <td><%= bring_in_equipment.amount %></td>
                    <td><%= bring_in_equipment.power_consumption %></td>
                  </tr>
                <% end %>
            </thead>
          </tbody>
        </table>
      </div>

      <div class="col-xs-3">
          <table class="table table-bordered">
            </tbody>
              <thead>
                <tr>
                  <td >電力合計<br>(最大2000 W)</td>
                  <td>
                    <% @sum_of_bring_in_equipments = 0 %> <!-- 初期値 -->
                    <% @bring_in_equipments.each do |bring_in_equipment| %>
                      <% @sum_of_bring_in_equipments += (bring_in_equipment.power_consumption.to_i).floor * (bring_in_equipment.amount.to_i)  %>
                    <% end %>

                    <% @sum_of_cart_items = 0 %> <!-- 初期値 -->
                    <% @cart_items.each do |cart_item| %>
                      <% @sum_of_cart_items += (cart_item.item.power_consumption.to_i).floor * (cart_item.item_amount.to_i)  %>
                    <% end %>

                    <% @total_power = 0 %> <!-- 初期値 -->
                    <% @total_power = @sum_of_cart_items.to_i + @sum_of_bring_in_equipments %>
                    <%= @total_power %> W
                    <% if @total_power > 2000 %>
                     <p class = "alert_over2000">2000 W を超えています</p>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td >合計金額</td>
                  <td>
                    <% @sum = 0 %> <!-- 初期値 -->
                    <% @cart_items.each do |cart_item| %>
                      <% @sum += ((cart_item.item.price.to_i + cart_item.item.add_price.to_i )*1.10 ).floor * (cart_item.item_amount.to_i) %>
                    <% end %>
                    ¥ <%= @sum %>
                  </td>
                </tr>
              </thead>
            </tbody>
          </table>
      </div>
    </div>

<div>
  <div class="text-center cart_items_link">
   <%= link_to 'レンタル品を探す',"/public/items",class: "sink_button2" %>
   <% if @total_power <= 2000 %>
    <%= link_to '次: ガス注文に進む',"/public/gas_requests",class: "sink_button3",id: 'to_request_gas' %>
   <% else %>
    <%= link_to '消費電力合計を2000 W以下にしてください',"/public/cart_items",class: "sink_button5" %>
   <% end %>
  </div>
</div>


