<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-2"><h4>ガス編集</h4></div>
  <div class="col-xs-9"></div>
  <div class="col-xs-1"></div>
</div>

<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-8">
	<%= form_for(@gase,url:admin_gase_path(@gase.id),method: :patch) do |f| %>

	  ガス名称<%= f.text_field :name %>
	  <br>
      ガス容量 (kg)<%= f.text_field :amount %>
      <br>
      価格(税抜)<%= f.text_field :price %>
	  <%= f.radio_button :is_active,1%> 有効
	  <%= f.radio_button :is_active,0%> 無効
	  <%= f.submit "変更を保存する"%>
	<% end %>
  </div>
  <div class="col-xs-1"></div>
</div>