<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-3"><h4>ガス一覧/追加</h4></div>
  <div class="col-xs-7"></div>
</div>

<br>
<div class="row">
  <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <%= form_for(@gase,url:admin_gases_path) do |f| %>
        <table class="table table-noborder">
          <tr>
            <th>ガス名称</th>
            <td><%= f.text_field :name, :placeholder =>"例: ガス 5 kg" %></td>
          </tr>
          <tr>
            <th>ガス容量 (kg)</th>
            <td><%= f.text_field :amount, :placeholder =>"例: 5" %></td>
          </tr>
          <tr>
            <th>価格(税込)</th>
            <td><%= f.text_field :price, :placeholder =>"例: 2200" %></td>
          </tr>
          <tr>
            <th>ステータス</th>
            <td>
              <%= f.radio_button :is_active,1%> 有効
              <br>
              <%= f.radio_button :is_active,0%> 無効
              <div class="text-center">
                  <%= f.submit "追加"%>
              </div>
            </td>
          </tr>
        </table>
      <% end %>
      <br>
      <table class="table">
        <h5>ガス一覧</h5>
        <thead>
          <tr>
            <th scope="col" class="col-xs-1">名称</th>
            <th scope="col" class="col-xs-1">ガス量 (kg)</th>
            <th scope="col" class="col-xs-1">価格 (税込)</th>
            <th scope="col" class="col-xs-1">状態</th>
            <th scope="col" class="col-xs-1"></th>
            <th scope="col" class="col-xs-1"></th>
          </tr>
        </thead>

        <% @gases.each do |gase| %>
        <tr>
          <td><%= gase.name %></td>
          <td><%= gase.amount %></td>
          <td><%= (gase.price.to_i).floor %></td>
          <td>
        		<% if gase.is_active == true %>
      			有効
      		<% else %>
      			無効
      		<% end %>
          </td>
          <td><%= button_to "編集", edit_admin_gase_path(gase.id), method: :get %></td>
          <td><%= button_to '削除する', admin_gase_path(gase.id), method: :delete, data: {confirm: '削除しますか？'}, class: 'fbtn' %></td>
        <% end %>
      </table>
    </div>
  <div class="col-xs-2"></div>
</div>