<div class="row">
  <div class="col-xs-1"></div>
    <div class="col-xs-10">
	<p class = "bring_in">
		<%= link_to "ご自身で用意された機材を使用する際はこちらから登録をお願いします。","/public/bring_in_equipments",class: "Editlink"%>
	</p>


	<p class = "item_count">
		<a class= "count"><%= @items.count %></a>件のレンタル品があります。
	</p>

		<a class = "genre"><%= link_to "すべて", "/public/items" %></a>
		<% @genres.each do |genre| %>
		  <a class = "genre"><%= link_to genre.name, "/public/items/search/#{genre.id}" %></a>
		<% end %>

		<br>
		<br>
		<% @items.each do |item| %>
		<div class="col-sm-3">
		   <th>
		     <p><%= attachment_image_tag item, :image, :fill, 50, 50, fallback: asset_path("no_image.jpg"), size: '100x100' %></p>
		     <p class = "item_name"><%= link_to item.name,"/public/items/#{item.id}"%></p>
			 <ul>
			   <li><span class=”dan”>1泊2日</span><span class=”dan2″> ¥<%= item.price %></span>
			   <li><span class=”dan”>追加1日</span><span class=”dan2″> ¥<%= item.add_price %></span>
			 </ul>
		   </th>
		</div>
		<% end %>
    </div>
  <div class="col-xs-1"></div>
</div>