<!DOCTYPE html>
<html>
  <head>
    <title>RentalBox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header">
          <div>
            <h3 class= "title" >Rental box</h3>
          </div>
              <% if group_signed_in? %>
                <div><%= "ようこそ、""#{current_group.group_name}" "さん！" %></div>
                <div><%= link_to "トップページ", public_path, class: "header_element" %></div>
                <div><%= link_to "マイページ", public_group_path(current_group.id), class: "header_element" %></div>
                <div><%= link_to "レンタル品一覧", public_items_path, class: "header_element"%></div>
                <div><%= link_to "カート",public_cart_items_path, class: "header_element", id: "group_cart_item"  %></a></div>
                <div><%= link_to "ログアウト",destroy_group_session_path,method: :delete,class: "glyphicon glyphicon-log-out logout header_element", id: "group_log-out"%></div>
              <% elsif admin_signed_in? %>
                <div><%= "管理者ログイン中!" %></div>
                <div><%= link_to "トップページ", admin_homes_top_path, class: "header_element" %></div>
                <div><%= link_to "レンタル品一覧", admin_items_path, class: "header_element" %></div>
                <div><%= link_to "団体一覧", admin_groups_path, class: "header_element" %></div>
                <div><%= link_to "ガス一覧", admin_gases_path, class: "header_element" %></div>
                <div><%= link_to "ジャンル一覧", admin_genres_path, class: "header_element" %></div>
                <div><%= link_to "注文リスト",admin_items_order_list_path, class: "header_element" %></div>
                <div><%= link_to "ログアウト",destroy_admin_session_path,method: :delete ,class: "glyphicon glyphicon-log-out logout header_element"%></div>
              <% else %>
                <div>未ログイン</div>
                <div><%= link_to "トップページ", public_path, class: "header_element" %></div>
                <div><%= link_to "レンタル品一覧", public_items_path, class: "header_element" %></div>
                <div><%= link_to "新規登録", new_group_registration_path, class: "glyphicon glyphicon-edit sign_up header_element" %></div>
                <div><%= link_to "ログイン(public)", new_group_session_path, class: "glyphicon glyphicon-log-in sign_in header_element" %></div>
                <div><%= link_to "ログイン(admin)", new_admin_session_path, class: "glyphicon glyphicon-log-in sign_in header_element" %></div>
            <% end %>
      </div>
    </header>
    <br>
    <%= yield %>
  </body>
</html>